<style>
    .pull-left {
        float: left !important
    }

    .pull-uight {
        float: right !important
    }

    th {
        height: 40px;
    }

    td {
        height: 60px;
    }

    th:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background: #ccc;
    }
    td:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background: #ccc;
    }

    th:nth-child(2) {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background: #ccc;
    }

    td:nth-child(2) {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background: #ccc;
    }
</style>
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> QUẢN LÝ HỒ SƠ</label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <div class="form-group ">
        <div class="col-md-2 pull-left">
            <a class="btn btn-primary btn-xs" ng-click="openModal('','CreateData')"><i class="fa fa-plus-circle"></i> Thêm bài học</a>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4 pull-right">
            <div class="input-group">
                <input type="text" ng-model="Paging.searchKey"
                       ng-model-options="{updateOn: 'change'}"
                       id="Search"
                       class="form-control input-search" placeholder="Nhập thông tin để tìm kiếm...">
                <span class="input-group-btn">
                    <a class="btn btn-default input-search" id="buttonSearch" title="Tìm kiếm" ng-click="SearchData()">
                        <i class="fa fa-search dark font-blue-dark" style="display:block !important"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-scrollable">
            <!--<div class="pull-left" style="width:30%">
                <table id="t1" border="1" class="table table-striped table-bordered all-table">
                    <thead>
                        <tr>
                            <th class="col1" style="border:solid 1px" rowspan="2" align="center" width="1px"> 送信日 </th>
                            <th class="col2" style="border:solid 1px" rowspan="2"> <div style="text-align:center">EMS コード</div> </th>
                            <th class="col3" style="border:solid 1px" rowspan="2"> <div style="text-align:center">書類 <br> タイプ</div></th>
                            <th class="col4" style="border:solid 1px" rowspan="2"> <div style="text-align:center">書類</div></th>
                            <th style="border:solid 1px" rowspan="2"> <div style="text-align:center">氏名</div></th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">生年月日</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">性別</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">基礎年金番号</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">出身地</div> </th>

                            <th style="border:solid 1px" rowspan="1" colspan="2"><div style="text-align:center">管理者</div> </th>
                        </tr>
                        <tr>
                            <th style="border:solid 1px"> <div style="text-align:center">社員</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">窓口</div> </th>
                        </tr>
                        <tr>
                            <td style="border:solid 1px"> <div style="text-align:center">1</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">2</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">3</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">4</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">5</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">6</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">7</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">8</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">9</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">10</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">11</div> </td>
                        </tr>
                    </thead>
                    <tbody>-->
            <!--<tr class="table-block-header">
                <th>Column name1</th>
                <th>+</th>
                <th>Column name2</th>
            </tr>-->
            <!--<tr>
                            <td class="col1" style="border:solid 1px;" align="center"> 1 </td>
                            <td class="col2" style="border:solid 1px;">
                                Toán
                            </td>
                            <td class="col3" style="border:solid 1px"> Văn</td>
                            <td class="col4" style="border:solid 1px"> Hóa</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
            <!--End table 1-->
            <!--Start table 2-->


            <div class="pull-right" style="width: 100%; overflow-x: auto">
                <table class="table table-striped table-bordered all-table"
                       id="fixTable">
                    <thead>
                        <tr>
                            <th class="col1" style="border:solid 1px" rowspan="2" align="center" width="1px"> 送信日 </th>
                            <th class="col2" style="border:solid 1px" rowspan="2"> <div style="text-align:center">EMS コード</div> </th>
                            <th class="col3" style="border:solid 1px" rowspan="2"> <div style="text-align:center">書類 <br> タイプ</div></th>
                            <th class="col4" style="border:solid 1px" rowspan="2"> <div style="text-align:center">書類</div></th>
                            <th style="border:solid 1px" rowspan="2"> <div style="text-align:center">氏名</div></th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">生年月日</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">性別</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">基礎年金番号</div> </th>
                            <th style="border:solid 1px" rowspan="2"><div style="text-align:center">出身地</div> </th>

                            <th style="border:solid 1px" rowspan="1" colspan="2"><div style="text-align:center">管理者</div> </th>
                            <th style="border:solid 1px" rowspan="1" colspan="2"><div style="text-align:center">Ghi chú</div> </th>
                            <th style="border:solid 1px" rowspan="1" colspan="11"><div style="text-align:center">年金金額</div> </th>
                            <th style="border:solid 1px" rowspan="1" colspan="4"><div style="text-align:center">Quyết Toán</div> </th>
                            <th style="border:solid 1px" rowspan="1" colspan="6"><div style="text-align:center">Cục Thuế</div> </th>
                            <th style="border:solid 1px" rowspan="2" width="1px"><div style="text-align:center">#</div> </th>
                            <th style="border:solid 1px" rowspan="2" width="1px"><div style="text-align:center">#</div> </th>
                        </tr>
                        <tr>
                            <th style="border:solid 1px"> <div style="text-align:center">社員</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">窓口</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">Lỗi</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">Lý do</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">Tạm Ứng</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">Phí lỗi</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">Phụ Phí</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">費用</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">平均賃金</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">係数</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">年金</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">1回</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">受け取り月 <br>1回</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">2回</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">受け取り月 <br> 2回</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">物価</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">計算</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">払う</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">払う日</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">KHẤU TRỪ</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">平均賃金</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">係数</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">年金</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">1回</div> </th>
                            <th style="border:solid 1px"> <div style="text-align:center">2回</div> </th>
                        </tr>
                        <tr>
                            <td class="col1" style="border:solid 1px"> <div style="text-align:center">1</div> </td>
                            <td class="col2" style="border:solid 1px"> <div style="text-align:center">2</div> </td>
                            <td class="col3" style="border:solid 1px"> <div style="text-align:center">3</div> </td>
                            <td class="col4" style="border:solid 1px"> <div style="text-align:center">4</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">5</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">6</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">7</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">8</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">9</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">10</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">11</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">12</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">13</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">14</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">15</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">16</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">17</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">18</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">19</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">20</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">21</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">22</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">23</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">24</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">25</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">26</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">27</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">28</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">29</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">30</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">31</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">32</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">33</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">34</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">35</div> </td>
                            <td style="border:solid 1px"> <div style="text-align:center">36</div> </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col1" style="border:solid 1px;" align="center"> 1 </td>
                            <td class="col2" style="border:solid 1px;">
                                Toán
                            </td>
                            <td class="col3" style="border:solid 1px"> Văn</td>
                            <td class="col4" style="border:solid 1px"> Hóa</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px"> Toán</td>
                            <td style="border:solid 1px" align="center"> Toán</td>
                            <td style="border:solid 1px" align="center"> Toán</td>
                            <td style="border:solid 1px" align="center">
                                Toán
                            </td>
                            <td style="border:solid 1px" align="center">
                                <a class="btn blue btn-xs" ng-click="openModal(em.kt.Id,'DiemSoHocVien', em.mon.Ten)" style="background-color:limegreen; border-color:limegreen"><b> Điểm số</b></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>

<script>
    ComponentsSelect2.init();
</script>





